
# datos de miu servdor express
 PORT = 3000
 DOMAIN = http://localhost
#  DOMAIN = "https://mipagina.com"


# datos de mongoDB
 DB_USER= user-falso
 DB_PASS=1234
 CLUSTER=cluster.mongodb.ne
 DATABASE =database